{{ 'section-store-select.css' | asset_url | stylesheet_tag }}

<section  class="store-select container">
  {% render 'component-section-header' title: "STORE"%}  
  <div class="store-select__top">
    <div class="store-select__top scale-container">
      <svg class="scale animated-svg" data-speed="1500" width="1361" height="151" viewBox="0 0 1361 151" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path stroke-width="0.5px" d="M54.5 37L1 1V150M54.5 37L111 1M54.5 37V112.5M111 1L167.5 37M111 1H222M167.5 37L222 1M167.5 37V112.5M222 1L278.5 37M222 1H333M278.5 37L333 1M278.5 37V112.5M333 1L389 37M333 1H443M389 37L443 1M389 37V112.5M443 1L497.5 37M443 1H555.5M497.5 37L555.5 1M497.5 37V112.5M555.5 1L613 37M555.5 1H670M613 37L670 1M613 37V112.5M670 1V150M670 1H690.5M670 150L613 112.5M670 150H1M670 150H690.5M613 112.5L555.5 150L497.5 112.5M497.5 112.5L443 150L389 112.5M389 112.5L333 150L278.5 112.5M278.5 112.5L222 150L167.5 112.5M167.5 112.5L111 150L54.5 112.5M54.5 112.5L1 150M690.5 150H902M690.5 150V1M902 150V1M902 150H920M902 1H920M902 1H690.5M920 1V150M920 1H1131M920 150H1131M1131 150V1M1131 150H1149.5M1131 1H1149.5M1149.5 1V150M1149.5 1H1360V150H1149.5 M112 1H1.5" stroke="#458EEA"/>
       </svg>
    </div>
  </div>
  <div class="store-select__body">
    {% render 'horizontal-line' %}
    {% render 'vertical-line' %}   
    {% render 'vertical-line' %}   
    <div class="store-select__body-item">
      <div class="store-select__body-item-wrap">
        <img  src="{{ section.settings.m-image | img_url: 'master'}}" alt="">
        {% render 'horizontal-line' %}
        {% render 'horizontal-line', class: "store-select__body-item-h-top" %}
        {% render 'vertical-line' %}   
        {% render 'vertical-line' %}   
        <h3 class="heading-two">{{ section.settings.m-heading }}</h3>
        <p class="body-four">{{ section.settings.m-copy }} </p>
        {% render 'button', bntLink: , text: "enter"  %} 
      </div>
    </div>
    <div class="store-select__body-item">
      <img  src="{{ section.settings.f-image | img_url: 'master'}}" alt="">
      {% render 'horizontal-line' %}
      {% render 'horizontal-line', class: "store-select__body-item-h-top" %}
      {% render 'vertical-line' %}   
      {% render 'vertical-line' %}   
      <div class="store-select__body-item-wrap">
        <h3 class="heading-two">{{ section.settings.f-heading }}</h3>
        <p class="body-four">{{ section.settings.f-copy }} </p>
        {% render 'button', bntLink: , text: "enter"  %} 
      </div>
    </div>
  </div>

  <div class="store-select__body-mobile">
    <div class="store-select__body-item-mobile">
      <div class="store-select__body-item-wrap-mobile">
        {% render 'horizontal-line' %}
        {% render 'horizontal-line', class: "store-select__body-item-h-top" %}
        {% render 'vertical-line', class: "store-select__body-item-v-right" %}   
        {% render 'vertical-line' %}   
        <svg class="animated-svg store-select__body-item-mobile-lattice" data-speed="3000"  viewBox="0 0 792 146" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L56 36M56 36V109M56 36L112.5 1L169 36M56 109L1 145M56 109L112.5 145L169 109M169 109L225 145L281 109M169 109V36M281 109L339 145L396.5 109M281 109V36.5M396.5 109L451 145L504.5 109M396.5 109V36.5M504.5 109L562 145L620 109M504.5 109V36.5M620 109L678 145L735.5 109M620 109V36.5M735.5 109L791 145M735.5 109V36.5M735.5 36.5L791 1M735.5 36.5L678 1L620 36.5M620 36.5L562 1L504.5 36.5M504.5 36.5L451 1L396.5 36.5M396.5 36.5L339 1L281 36.5M281 36.5L225 1L169 36" stroke="#458EEA"/>
        </svg>   
        {% render 'horizontal-line', class: "store-select__body-item-h-top-above" %}  
        <div class="store-select__body-item-wrap-mobile__inner">
          {% render 'vertical-line', class: "store-select__body-item-wrap-mobile__inner-v-right" %}
          {% render 'horizontal-line', class: "store-select__body-item-wrap-mobile__inner-h-top" %}  
          {% render 'vertical-line' %}
          {% render 'horizontal-line' %}  
          <h3 class="heading-two">{{ section.settings.m-heading }}</h3>
          <p class="body-four">{{ section.settings.m-copy }} </p>
          {% render 'button', bntLink: , text: "enter"  %} 
        </div>
      </div>
    </div>
    <div class="store-select__body-item-mobile" style="margin-top: 24px;">
      <div class="store-select__body-item-wrap-mobile">
        {% render 'horizontal-line' %}
        {% render 'horizontal-line', class: "store-select__body-item-h-top" %}
        {% render 'vertical-line', class: "store-select__body-item-v-right" %}   
        {% render 'vertical-line' %}          
        {% render 'vertical-line', class: "store-select__body-item-mobile-bottom-v-one" %}   
        {% render 'vertical-line', class: "store-select__body-item-mobile-bottom-v-two" %} 
        {% render 'vertical-line', class: "store-select__body-item-mobile-bottom-v-three" %} 
        {% render 'vertical-line', class: "store-select__body-item-mobile-bottom-v-four" %}
        {% render 'horizontal-line', class: "store-select__body-item-h-top-above" %}  
        <div class="store-select__body-item-wrap-mobile__inner">
          {% render 'vertical-line', class: "store-select__body-item-wrap-mobile__inner-v-right" %}
          {% render 'horizontal-line', class: "store-select__body-item-wrap-mobile__inner-h-top" %}  
          {% render 'vertical-line' %}
          {% render 'horizontal-line' %}  
          <h3 class="heading-two">{{ section.settings.f-heading }}</h3>
          <p class="body-four">{{ section.settings.f-copy }} </p>
          {% render 'button', bntLink: , text: "enter"  %} 
        </div>
      </div>
    </div>
</section>

{% schema %}
{
  "name": "Store Select",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "m-heading",
      "default": "Mission",
      "label": "Mission Heading"
    },
    {
      "type": "text",
      "id": "m-copy",
      "default": "Some copy here",
      "label": "Mission Copy"
    },
    {
      "type": "image_picker",
      "id": "m-image",
      "label": "Mission Image"
    },
    {
      "type": "text",
      "id": "f-heading",
      "default": "Fiilmore",
      "label": "Fiilmore Heading"
    },
    {
      "type": "text",
      "id": "f-copy",
      "default": "Some copy here",
      "label": "FiilmoreCopy"
    },
    {
      "type": "image_picker",
      "id": "f-image",
      "label": "Fiilmore Image"
    }
  ],
  "presets": [
    {
      "name": "Store Select"
    }
  ]
}
{% endschema %}