<link rel="stylesheet" href="{{ 'section-store-select.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-section-header.css ' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-store-select.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-section-header.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-store-select.css' | asset_url | stylesheet_tag }}
{{ 'component-section-header.css' | asset_url | stylesheet_tag }}



<section  class="store-select container">
  {% render 'component-section-header' title: "STORE"%}
  
  <div class="store-select__top">
    <div class="store-select__top scale-container">
      <svg class="scale animated-svg" data-speed="1500" width="1361" height="151" viewBox="0 0 1361 151" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M54.5 37L1 1V150M54.5 37L111 1M54.5 37V112.5M111 1L167.5 37M111 1H222M167.5 37L222 1M167.5 37V112.5M222 1L278.5 37M222 1H333M278.5 37L333 1M278.5 37V112.5M333 1L389 37M333 1H443M389 37L443 1M389 37V112.5M443 1L497.5 37M443 1H555.5M497.5 37L555.5 1M497.5 37V112.5M555.5 1L613 37M555.5 1H670M613 37L670 1M613 37V112.5M670 1V150M670 1H690.5M670 150L613 112.5M670 150H1M670 150H690.5M613 112.5L555.5 150L497.5 112.5M497.5 112.5L443 150L389 112.5M389 112.5L333 150L278.5 112.5M278.5 112.5L222 150L167.5 112.5M167.5 112.5L111 150L54.5 112.5M54.5 112.5L1 150M690.5 150H902M690.5 150V1M902 150V1M902 150H920M902 1H920M902 1H690.5M920 1V150M920 1H1131M920 150H1131M1131 150V1M1131 150H1149.5M1131 1H1149.5M1149.5 1V150M1149.5 1H1360V150H1149.5 M112 1H1.5" stroke="#458EEA"/>
       </svg>
    </div>
  </div>
  <div class="store-select__body">
    {% render 'horizontal-line' %}
    {% render 'vertical-line' %}   
    {% render 'vertical-line' %}   
    <div class="store-select__body-item">
      <div class="store-select__body-item-wrap">
        {% render 'horizontal-line' %}
        {% render 'horizontal-line' %}
        {% render 'vertical-line' %}   
        {% render 'vertical-line' %}   
        <h3>Misson</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua. </p>
        <p>enter</p>
      </div>
    </div>
    <div class="store-select__body-item">
      {% render 'horizontal-line' %}
      {% render 'horizontal-line' %}
      {% render 'vertical-line' %}   
      {% render 'vertical-line' %}   
      <div class="store-select__body-item-wrap">
        <h3>Misson</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua. </p>
        <p>enter</p>
      <div class="store-select__body-item-wrap">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Store Select",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.product-recommendations.settings.paragraph__1.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "t:sections.product-recommendations.settings.heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.product-recommendations.settings.header__2.content"
    }
  ],
  "presets": [
    {
      "name": "Store Select"
    }
  ]
}
{% endschema %}